{{title}}
<p><input type = "text" [(ngModel)] = 'userName'></p>
<p>Hello, {{userName}}</p>
<p [textContent] = "treatment"></p>
<p><input type = "text" [(ngModel)] = 'interest'></p>
<button  class= 'btn' (click) = 'handleClick()'> Add! </button>

<ul>
  <li *ngFor = "let item of listOfInterests">
      {{item}}
  </li>
</ul>
<p 
  [class.blue] = "!backgroundColor"
  [class.red] = "backgroundColor"
>Choose what color are you prefer?</p>

<button class= 'btn' (click)="backgroundColor = !backgroundColor"> Choose color</button>

<br>

<div [ngStyle]="{
  'width': '200px',
  'height': '200px',
  'background': backgroundColor ? 'red' : 'blue' 
}"> </div>
 <br>
 <p *ngIf="backgroundColor; else blueP" class = "red"> You are choose red </p>
 <ng-template #blueP>
   <p class = "blue"> You are choose blue</p>
 </ng-template>